<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-hide="root">

  <!-- Map Tab -->
  <!--<ion-tab title="Map" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/map">-->
    <!--<ion-nav-view name="tab-map"></ion-nav-view>-->
  <!--</ion-tab>-->
  <!-- Dashboard Tab -->
  <!-- Dashboard Tab -->
  <ion-tab title="班车线路" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/admin/map">
    <ion-nav-view name="admin-map"></ion-nav-view>
  </ion-tab>

  <!--&lt;!&ndash; Chats Tab &ndash;&gt;-->
  <!--<ion-tab title="班车站点" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/stations">-->
    <!--<ion-nav-view name="tab-stations"></ion-nav-view>-->
  <!--</ion-tab>-->

  <!--&lt;!&ndash; Account Tab &ndash;&gt;-->
  <!--<ion-tab title="乘车人员" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/rider">-->
    <!--<ion-nav-view name="tab-rider"></ion-nav-view>-->
  <!--</ion-tab>-->


  <ion-tab title="我的信息" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/admin/myinfo">
    <ion-nav-view name="admin-myinfo"></ion-nav-view>
  </ion-tab>


</ion-tabs>
